<!--JINJA 2 HTML-->
<div class="reciept-wrapper">
    <div class="title"></div>
    <div class="items">
        {% for item in order.items %}
        <div class="item">{{ item.name }}</div>
        <div class="amount">{{ order.currency }}{{ item.price if not item.sale_price else item.sale_price }}</div>
        {% endfor %}
    </div>
    <div class="before_discount">
        <div class="subtotal">Subtotal:</div>
        <div class="amount">{{ order.currency }}{{ order.subtotal }}</div>
    </div>
    <div class="discounts">
        {% for discount in order.discounts %}
            <div class="discount">{{ discount.name }}</div>
            <div class="amount">{{ order.currency }}{{ discount.amount }}</div>
        {% endfor %}
    </div>
    <div class="final_price">
        <div class="total">Total:</div>
        <div class="amount">{{ order.currency }}{{ order.total }}</div>
    </div>
</div>
